<div style="width: 100%; height: 900px;">
    <as-split direction="horizontal">
        <as-split-area size="50">
            <div>
                <div class="done" fxLayout="row" fxLayoutGap="15px" style="margin-top: 10px;margin-bottom: 10px;">

                    <a mat-mini-fab color="default" matTooltip="Preview" matTooltipPosition="before">
                        <mat-icon svgIcon="file-find"></mat-icon>
                    </a>

                    <a mat-mini-fab color="warn" matTooltip="Export to pdf" matTooltipPosition="before">
                        <mat-icon svgIcon="file-pdf-box"></mat-icon>
                    </a>

                    <a mat-mini-fab color="primary" matTooltip="Export to excel" matTooltipPosition="before">
                        <mat-icon svgIcon="file-word"></mat-icon>
                    </a>

                    <a mat-mini-fab color="primary" matTooltip="Export to excel" matTooltipPosition="before">
                        <mat-icon svgIcon="file-excel"></mat-icon>
                    </a>

                    <a mat-mini-fab matTooltip="Export to excel" matTooltipPosition="before" (click)="print()">
                        <mat-icon svgIcon="printer-settings"></mat-icon>
                    </a>
                </div>

                <editor [(ngModel)]="editorValue" (onSelectionChange)="handleEvent($event)" apiKey="test" [init]="configuration" id="print-section">
                </editor>
            </div>

        </as-split-area>

        <as-split-area size="50">

            <as-split direction="vertical">
                <as-split-area size="50">
                    <perfect-scrollbar style="max-width: 100%;">
                        <code>
                                        <pre>
                    {{editorValue}}
                                        </pre>
                                    </code>
                    </perfect-scrollbar>
                </as-split-area>
                <as-split-area size="50">
                    Sections
                </as-split-area>
            </as-split>

        </as-split-area>

    </as-split>
</div>