<!-- [appCustomtheme]="'dark-theme'" -->
<!-- [ngClass]="{'dark-theme': isDarkTheme | async}" -->
<div class="dark-theme">
    <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" position="end">
            <mat-toolbar color="primary" style="height:250px;width:220px;" align="center">
                <div fxLayout="row wrap">
                    <div fxFlex="100%">
                        <img mat-card-image src="assets/images/dp.jpg" alt="Photo of a Shiba Inu" style="height:168px;width:168px;border-radius: 100px;">
                        <!-- <img mat-card-avatar #avtar [src]="'https://miro.medium.com/max/2000/1*_K5RJJUxdsJPPjksME4i5Q.jpeg'" style="height:168px;width:168px;"> -->
                    </div>
                    <div fxFlex="100%">
                        <span>
                            {{username}}
                        </span>
                    </div>
                </div>


            </mat-toolbar>
            <mat-nav-list color="warn">
                <a mat-list-item [routerLink]='["new"]'>
                    <mat-icon svgIcon="file-document-box-plus-outline"></mat-icon>&nbsp;
                    <span>New File</span>
                </a>

                <a mat-list-item [routerLink]='["selecttemplate"]'>
                    <mat-icon svgIcon="file-document-edit-outline">
                    </mat-icon>&nbsp;
                    <span>Select template</span>
                </a>

                <a mat-list-item [routerLink]='["editor"]'>
                    <mat-icon>library_books
                    </mat-icon>&nbsp;
                    <span>Editor</span>
                </a>

                <a mat-list-item [routerLink]='["setting"]' (click)="sidenav.toggle()">
                    <mat-icon>settings</mat-icon>&nbsp;
                    <span>Settings</span>
                </a>
                <a mat-list-item [routerLink]='["../login"]'>
                    <mat-icon>power_settings_new</mat-icon>&nbsp;
                    <span>Logout</span>
                </a>
            </mat-nav-list>

        </mat-sidenav>

        <mat-toolbar color="primary" style="min-height:45px;" class="app-toolbar">
            <div fxLayoutAlign="start center">
                <span>
                    <button style="background-color:transparent;border-style:none;cursor:pointer;"
                        (click)="sidenav.toggle()">
                        <i class="material-icons toolbar-link-icon" style="color:white;">menu</i>
                    </button>
                </span>
            </div>

            <div fxLayoutAlign="start center">
                <span>Editor</span>
            </div>

            <span class="example-spacer" fxLayoutAlign="right">
                <button mat-icon-button color="warn">
                <mat-icon svgIcon="file-pdf-box"></mat-icon>
                </button>

            </span>

            <div class="material-icons mdl-badge mdl-badge--overlap" [attr.data-badge]="1">1</div>

            <div fxShow="true" fxHide.lt-md="true">
                <span class="example-spacer"></span>

                <span class="example-spacer"></span>

                <span *ngIf="user" class="example-spacer">Hi &nbsp; {{user}}</span>

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
                </button>


                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>

                &nbsp;
                <button mat-icon-button (click)="openDialog()">
                    <mat-icon svgIcon="settings"></mat-icon>&nbsp;
                </button>

                <button mat-button [routerLink]='["../login"]'>
                    <mat-icon svgIcon="power"></mat-icon>
                    &nbsp;
                    <span>Logout</span>
                </button>
            </div>

            <div fxLayout.xs="row" fxLayoutAlign="end none">
                <button mat-icon-button fxShow="false" fxShow.lt-md="true" [matMenuTriggerFor]="menu">
                    <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
                </button>

                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <perfect-scrollbar style="max-width: 100%;height:250px">
                        <mat-list>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Ranjeet contributed on valuechain 1
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Soumya contributed on valuechain 2
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Ratnakar contributed on Derivateves
                                </mat-label>
                            </mat-list-item>
                            <mat-divider>
                            </mat-divider>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Nagendra contributed
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Saurabh contributed
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Ankit contributed
                                </mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Ranjeet contributed on valuechain 1
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Soumya contributed on valuechain 2
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Ratnakar contributed on Derivateves
                                </mat-label>
                            </mat-list-item>
                            <mat-divider>
                            </mat-divider>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Nagendra contributed
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Saurabh contributed
                                </mat-label>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><button mat-icon-button color="primary">
                                <mat-icon svgIcon="reminder"></mat-icon>
                            </button>

                                <mat-label>
                                    Ankit contributed
                                </mat-label>
                            </mat-list-item>
                        </mat-list>
                    </perfect-scrollbar>
                </mat-menu>
            </div>

        </mat-toolbar>
        <mat-progress-bar *ngIf="showprogressbar" mode="indeterminate" width="100%" color="warn"></mat-progress-bar>



        <perfect-scrollbar style="max-width: 100%;height:620px">
            <router-outlet style="background-color: antiquewhite"></router-outlet>
        </perfect-scrollbar>




    </mat-sidenav-container>
</div>